<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center> 
<center><b><h1>VIKEN VIRAMGAMA</b></center>
<center><b><h1>23010101300</b></center>
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [4]:
a=10
b=20
print("addition is :",a+b)

addition is : 30

### 03) WAP to check the type of the variable.

In [6]:
print(type(a))

<class 'int'>

### 04) WAP to calculate simple interest.

In [15]:
p = float(input("ENTER NUMBER"))
r = float(input("ENTER NUMBER"))
n = float(input("ENTER NUMBER"))
print((p*r*n)/100)

ENTER NUMBER2
ENTER NUMBER3
ENTER NUMBER2
0.12

### 05) WAP to calculate area and perimeter of a circle.

In [16]:
r = float(input("ENTER NUMBER"))
print(3.14*r*r)

ENTER NUMBER2
12.56

### 06) WAP to calculate area of a triangle.

In [17]:
h = float(input("ENTER NUMBER"))
b = float(input("ENTER NUMBER"))
print(0.5*h*b)

ENTER NUMBER2
ENTER NUMBER3
3.0

### 07) WAP to compute quotient and remainder.

In [22]:
a = int(input("ENTER NUMBER"))
b = int(input("ENTER NUMBER"))
c=a/b
x=int(c)
r = a%b
print(x)
print(r)

ENTER NUMBER5
ENTER NUMBER2
2
1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [23]:
a = int(input("ENTER NUMBER"))
b = int(input("ENTER NUMBER"))
c = (a*(9/5)+32)
d = ((b-32)*(5/9))
print(c)
print(d)

ENTER NUMBER0
ENTER NUMBER32
32.0
0.0

### 09) WAP to find the distance between two points in 2-D space.

In [25]:
a = int(input("ENTER NUMBER"))
b = int(input("ENTER NUMBER"))
c = int(input("ENTER NUMBER"))
d = int(input("ENTER NUMBER"))
x = ((((b-a)*2)+((d-c)*2))**0.5)
print(x)

ENTER NUMBER2
ENTER NUMBER4
ENTER NUMBER2
ENTER NUMBER4
2.8284271247461903

### 10) WAP to print sum of n natural numbers.

In [27]:
n = int(input("ENTER NUMBER"))
x = (n*(n+1)/2)
print(x)

ENTER NUMBER3
6.0

### 11) WAP to print sum of square of n natural numbers.

In [29]:
n = int(input("ENTER NUMBER"))
x = ((n*(n+1)*(2*n+1))/6)
print(x)

ENTER NUMBER3
14.0

### 12) WAP to concate the first and last name of the student.

In [30]:
a="efihefu"
b="feugfj"
print(a+b)

efihefufeugfj

### 13) WAP to swap two numbers.

In [31]:
n = int(input("ENTER NUMBER"))
m = int(input("ENTER NUMBER"))
t=n
n=m
m=t
print("n",n)
print("m",m)

ENTER NUMBER2
ENTER NUMBER3
n 3
m 2

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [33]:
km = int(input("ENTER NUMBER"))
m = (km*1000)
feet = (km*3280.84)
inches = (km*39370.1)
cm = (km*100000)
print(km)
print(m)
print(feet)
print(inches)
print(cm)

ENTER NUMBER1
1
1000
3280.84
39370.1
100000

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [34]:
day = int(input("ENTER NUMBER"))
month = int(input("ENTER NUMBER"))
year = int(input("ENTER NUMBER"))
print(day,month,year,sep="-")

ENTER NUMBER20
ENTER NUMBER12
ENTER NUMBER2001
20-12-2001