<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>   
<center><b><h1>Viken Viramgama</b></center> 
<center><b><h1>L23010101300</b></center> 
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [10]:
n = input("Enter space separated values : ")
t = tuple(int(i) for i in n.split())
print("Sum =",sum(t))

Enter space separated values :  6 4 5

Sum = 15

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [18]:
n = input("Enter space separated values : ")
k = int(input("Enter value of k : "))
t = tuple(int(i) for i in n.split())
s=sorted(t)
min = tuple(i for i in s[:k])
max = tuple(i for i in s[len(s)-k:])
print("Min = ",min)
print("Max = ",max)

Enter space separated values :  2 4 6 8
Enter value of k :  2

Min =  (2, 4)
Max =  (6, 8)

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [30]:
t_list = []
n = int(input("Enter number of tuples: "))
for i in range(n):
    t_elements = input(f"Enter elements of tuple {i+1} (space-separated): ").split()
    t_elements = [int(i) for i in t_elements]
    t_list.append(tuple(t_elements))

k = int(input("Enter value of k: "))
divisible = [t for t in t_list if all(x % k == 0 for x in t)]
print("Divisible Tuples =", divisible)

Enter number of tuples:  2
Enter elements of tuple 1 (space-separated):  2 4 6
Enter elements of tuple 2 (space-separated):  4 6 8
Enter value of k:  1

Divisible Tuples = [(2, 4, 6), (4, 6, 8)]

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [32]:
n = input("Enter elements in space separated values : ")
l = [int(i) for i in n.split()]
t = [(i,i**3) for i in l]
print("List of Tuples = ",t)

Enter elements in space separated values :  2 3 4 5

List of Tuples =  [(2, 8), (3, 27), (4, 64), (5, 125)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [34]:
n = int(input("Enter number of tuples : "))
t_list = []
for i in range(n):
    t_elements = input(f"Enter space separated values for {i+1} : ").split()
    t_elements = [int(i) for i in t_elements]
    t_list.append(tuple(t_elements))
positive = [t for t in t_list if all(x>0 for x in t)]
print("Positive = ",positive)

Enter number of tuples :  2
Enter space separated values for 1 :  2 4 6
Enter space separated values for 2 :  4 6 8

Positive =  [(2, 4, 6), (4, 6, 8)]

### 06) WAP to add tuple to list and vice â€“ versa.

In [36]:
elements = input("Enter space separated values for the tuple: ").split()
t = tuple(int(i) for i in elements)

elements_list = input("Enter space separated values for the list: ").split()
l = [int(i) for i in elements_list]

tuple_to_list = list(t)
tuple_to_list.extend(l)
print("Tuple to List =", tuple_to_list)

temp_list = list(t)
temp_list.extend(l)
list_to_tuple = tuple(temp_list)
print("List to Tuple =", list_to_tuple)

Enter space separated values for the tuple:  1 2 3 4 5 6
Enter space separated values for the list:  1 2 3 4 5 6

Tuple to List = [1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
List to Tuple = (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

### 07) WAP to remove tuples of length K.

In [42]:
n = int(input("Enter number of tuples : "))
k = int(input("Enter value of k : "))
li = []
for i in range(n):
    elements = input(f"Enter space separated values for {i+1} : ").split()
    elements = [i for i in elements]
    li.append(tuple(elements))
for i in li:
    if len(i)==k:
        li.remove(i)
print("List = ",li)

Enter number of tuples :  2
Enter value of k :  2
Enter space separated values for 1 :  1 2 3 4 5
Enter space separated values for 2 :  1 2 3 4 5

List =  [('1', '2', '3', '4', '5'), ('1', '2', '3', '4', '5')]

### 08) WAP to remove duplicates from tuple.

In [44]:
n = input("Enter space separated values : ")
t = tuple(int(i) for i in n.split())
s = set(t)
tup = tuple(s)
print("Tuple = ",tup)

Enter space separated values :  1 2 3

Tuple =  (1, 2, 3)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [48]:
n = input("Enter space-separated values: ")
t = tuple(int(i) for i in n.split())
res = []
for j in range(1, len(t)):
    i = j - 1
    res.append(t[i] * t[j])
result_tuple = tuple(res)
print("Resultant tuple =", result_tuple)

Enter space-separated values:  2 4 6

Resultant tuple = (8, 24)

### 10) WAP to test if the given tuple is distinct or not.

In [50]:
n = input("Enter space separated values : ")
t = tuple(int(i) for i in n.split())
s = set(t)
if len(t)==len(s):
    print("Tuple is distinct")
else:
    print("Tuple is not distinct")

Enter space separated values :  1 2 3

Tuple is distinct